
/* merriweather-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Merriweather';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/merriweather/merriweather-v33-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* merriweather-900italic - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'MerriweatherBoldItalic';
  font-style: italic;
  font-weight: 900;
  src: url('./assets/fonts/merriweather/merriweather-v33-latin-900italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


/* Section Headings */
h2, h3 {
  font-family: 'merriweather', sans-serif;
  text-transform: uppercase;
  font-weight: 500;
}

/* Body Text, Alerts, and Community News */
p, li, label {
  font-family: 'merriweather', sans-serif;
  font-weight: 400;
  line-height: 1.6;
}


.about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 1.5rem;
  background: linear-gradient(to bottom, #f9fafc 0%, #ffffff 100%);
  font-family: "Segoe UI", Roboto, sans-serif;
  color: #1a1a1a;
}

.about-hero {
  text-align: center;
  margin-bottom: 2rem;
}


.aboutheroImage {
  /* Give your hero a set height or padding */
  min-height: 60vh; 

 background: 
    linear-gradient(to bottom, rgba(255,255,255,0) 70%, white 100%),
    url('Images/EmblemLighthouse1.png') no-repeat center/contain;

 
  
}

.about-emblem {
 
  width: 50%;
  height: auto;
  filter: drop-shadow(0 4px 8px rgba(0, 0, 0, 0.15));
}

.fade-bg {
   max-width: 320px;
  width: 100%;
  
  background: 
    linear-gradient(to bottom, rgba(255,255,255,0) 70%, white 100%),
    url('/Images/EmblemLighthouse.png') no-repeat center/cover;
}

.about-content {
  max-width: 700px;
  text-align: center;
}

.about-content h1 {
    font-family: 'MerriweatherBoldItalic', sans-serif;
      /* font-size: 2.05rem; */
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: #0b1a33;
    margin-bottom: 1rem;

}

.about-content p {
  /* font-size: 1.05rem;

  margin-bottom: 1rem; */
  

    font-size: 1.5rem;
      line-height: 1.6;
}

.about-highlight {
  /* font-weight: 600; */
  color: #b22222;
}

