


/* HeroSection.css */




.hero {
  position: relative;
  width: 100%;
  height: 100vh; /* full viewport height */
  background: url("../src/assets/images/truckLightHero.png") center/cover no-repeat;
  color: #fff;
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  height: 100vh;           /* Required for vertical centering */
   
  overflow: hidden;
}

/* Gradient overlay for text readability */
/* .hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(10, 26, 47, 0.8) 0%, rgba(10, 26, 47, 0.2) 40%, transparent 100%);
  z-index: 1;
} */



/* Text container */
.hero-content {
  position: relative;
  z-index: 3;
  max-width: 600px;
  padding-left: 220px; /* leaves space for emblem */
}

.hero-content h1 {
   font-family: 'MerriweatherBoldItalic', sans-serif;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-family: "Inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Responsive adjustments */
@media (max-width: 1024px) {
  .hero::after {
    top: 30px;
    left: 30px;
    width: 120px;
    height: 120px;
  }

  .hero-content {
    padding-left: 160px;
  }
}

/* Mobile optimization */
@media (max-width: 768px) {
  .hero {
    height: 70vh;
    background: url("../src/assets/images/dpfd-hero-mobile.png") center/cover no-repeat;  
    justify-content: center;
    text-align: center;
  }

  .hero::before {
    background: linear-gradient(to bottom, rgba(10, 26, 47, 0.7) 0%, transparent 100%);
  }

  .hero-content {
    padding: 0 20px;
  }

  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}


.hero-buttons {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #C62828;
  color: #fff;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}

.btn-secondary {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  padding: 12px 24px;
  border-radius: 6px;
  font-weight: 600;
  cursor: pointer;
}


.card-offset{

     /* THE MAGIC MAGIC HAPPENS HERE */
  margin-top: -50px; /* Pulls the container up by 100px */
  position: relative; /* Establishes a positioning context */
  z-index: 10;        /* Forces it to sit on top of the hero */
}